:root {
    --antiquewhite: #faebd7;
    --amarelo: #796a36;

}

body {
    background-color: var(--antiquewhite);
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Quem-somos{
    display: flex;
    margin: 20px;
    padding: 10px;
}

#Produtos{
    display: flex;
}

#Contatos{
     display: flex;
}

.equipe{  
text-align: center;
}

.Fotos{
    display: flex;
    grid-template-columns: 20%, 20%, 20% 40%;
}

.Integrante{
    width: 30%;
}

.img-empresa{
    width: 70%;
}

#calçados{
    display: flex;
    grid-template-columns: 12.5%, 12.5%, 12.5%, 12.5%, 12.5%, 12.5%, 12.5%, 12.5%;
    justify-content: space-around;

.tênis{  
    width: 100%;
 } 

footer{
    background-color: #eedfbe;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
}