:root {
    --antiquewhite: #faebd7;
    --amarelo: #796a36;

}

body {
    background-color: var(--antiquewhite);
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Quem-somos{
    display: flex;
    margin: 20px;
    padding: 10px;
}

.equipe{  
text-align: center;
}

.Fotos{
    display: grid;
    grid-template-columns: 15% 15% 15% 55%;
}

.Integrante{
    width: 50%;
}

.img-empresa{
    width: 70%;
}

#calçados{
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    justify-content: space-around;

.tenis{  
    width: 100%;
 } 

footer{
    background-color: #eedfbe;
}

header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
}