:root {
    --antiquewhite: #faebd7;
    --amarelo: #796a36;

}





body {
    background-color: var(--antiquewhite);
}

img {
    width: 30%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Quem-somos{
    display: flex;
    margin: 20px;
    padding: 10px;
}

#Produtos{
    display: flex;
}

#Contatos{
     display: flex;
}

.equipe{  
text-align: center;
}

.Fotos{
    display: flex;
    grid-template-columns: 20%,20%,20%, 40%;
    align-items: center;
    justify-content: space-around;

}

.Integrante{
    width: 40%;
}

.img-empresa{
    width: 90%;
}

footer{
    background-color: #eedfbe;
}

a{
    color: black;
    text-decoration: none;
}
